

.input-group{
    top: 180px;
    left: 40%;
    position: absolute;
    width: 280px;
    transition: 0.5s;

}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999 ;
    outline: none;
    background: transparent;
}

#btn{
    width: 100%;
    padding: 10px;
    background-color: skyblue;
    border-radius: 8px;
    margin-top: 20px;

    
}
.show-error{
    color: red;
}
.show-success-msg{
    color: green;
}
